/* https://codepen.io/silkine/pen/QWBxVX?editors=1100 */
body{
    margin: 0;
    border: 0;
    box-sizing: border-box;

    background-color: antiquewhite;

    container-type:inline-size;
	container-name:--body;

    display:grid;
    grid-template-columns:repeat(5 1fr);
    grid-template-rows: 1fr; 

    width: 100dvw;
    /* height: 100dvh; */


}
h1{
    /* font-family:sans-serif; */
}
header{
    border-bottom: sienna 5px dashed;
}

article{
    /* grid-column: span 2; */
    border: rgb(28, 180, 63) 1px double;

    container-type:inline-size;
	container-name:--article;

    /* div{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(5 auto); 
        grid-template-areas: 
            "title"
            "subtitle"
            "text"
            "quote"
            "ad";
    } */
}

section {
    border: sienna 1px solid;
    /* color: sienna; */
}


/* big block styling */
@container --article (inline-size > 30rem){
	h2 {
		color:hotpink;
	}
	/* div {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content 1fr;
			grid-template-areas:
		"image title"
		"image omschrijving";
		gap:0 1em;
	} */
}