/* inspiration (I ended up doing it completely differently): https://codepen.io/silkine/pen/QWBxVX?editors=1100 */
@font-face {
    font-family: Unifraktur-bold;
    src: url(../assets/fonts/UnifrakturCook/UnifrakturCook-Bold.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(../assets/fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

body {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    background-color: antiquewhite;

    font-family: Georgia, 'Times New Roman', Times, serif;

    --line-color: rgb(43, 43, 43);
}

main {
    /* TODO: display flex stugg */
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    /* grid-template-rows: repeat(8) 1fr ; */

    grid-auto-flow: row dense;
    /* grid-auto-columns: 100px 150px 390px; */
    gap: 1rem;
}

header {
    width: 100dvw;
    text-align: center;

    h1 {
        text-transform: uppercase;
        margin: 0;

        font-size: clamp(1.5rem, -0.5rem + 10vw, 5rem);

        /* doing accents and flavour */
        &::before {
            /* content: 'heyo'; */
        }
    }

    p {
        text-transform: uppercase;
        border-block: var(--line-color) 1px solid;
        margin-top: 0;
    }
}

article {
    border-inline: var(--line-color) 1px solid;

    padding: .5rem;
    width: 100%;
    min-width: 300px;

    /* flex-grow: 1; */


    h2 {
        text-align: center;

        &+p {
            text-align: center;
            text-transform: uppercase;
            border-block: var(--line-color) 1px solid;
        }
    }

    &.wide, .wide {
        grid-column: span 2;

        column-count: auto;
        column-width: 16rem;
        column-rule: dotted;
        column-fill: balance;

        h2,
        h2+p,
        .quote {
            column-span: all;
        }
    }

    &.ad {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/* reflection section */
section {
    border: var(--line-color) 1px solid;
    padding: .5rem;
}

.reflection {
    /* reflections ook met donkere achtergrond? */
}

p:nth-of-type(2)::first-letter {
    initial-letter: 2;
    padding: 2px;
    /* ander meer newsletter font? */
    font-family: Unifraktur;
}

img {
    max-width: 100%;
    filter: grayscale(1);
    transition: .5s;

    &:hover{
        filter: grayscale(0);
    }
}

.ad {
    --line-color: white;

    background-color: rgb(43, 43, 43);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    a{
    color: white;
    }
}

.quote {
    text-align: center;
    font-style: italic;

    /* id love for the line not to stretch all te way to the edges */
    border-block: var(--line-color) 1px solid;

    padding: .5rem;
}

li {
    &:has(a)::marker {
        font-size: 1.4em;
    }

    &::marker {
        content: "+ ";
        font-family: Unifraktur-bold;
    }
}


a {
    color: black;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        font-weight: 600;
        outline: dotted var(--line-color) 2px;
    }
}

.code {
    background-color: rgb(43, 43, 43);
    color: white;
    padding: .5rem;

    span {
        color: lime;
    }

    .element {
        color: aqua;
    }
}

.hooks::before {
    content: "<";
    color: grey;
}

.hooks::after {
    content: ">";
    color: grey;
}

/* ************************ */
/* article-specific styling */
/* ************************ */

#johns, #duck {
    display: grid;
    grid-template: [title] "title image" auto
        [text] "text  image" auto
        [disclaimer] "disclaimer image" auto [image] / 1fr auto;
    gap: .5rem;

    h2 {
        grid-area: title;
        margin: 0;
        padding: 0;
    }

    iframe, img {
        grid-area: image;
        /* width: 20rem; */
    }
    img{
        max-height: 15rem;
        padding: .5rem;
    }
}


#cassie .ad {
    display: grid;
    grid-template:
        [title] "title title" auto
        [text] "text  image" auto
        [disclaimer] "disclaimer image" auto [image] / 1fr 1fr;
    gap: .5rem;

    a {
        color: white;
        grid-area: text;
    }

    p {
        font-size: small;
        grid-area: disclaimer;
    }

    h4 {
        grid-area: title;
    }

    img {
        grid-area: image;
    }
}