/* inspiration (I ended up doing it completely differently): https://codepen.io/silkine/pen/QWBxVX?editors=1100 */
body {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    background-color: antiquewhite;

    /* width: 100dvw; */
    /* height: 100dvh; */

    font-family: Georgia, 'Times New Roman', Times, serif;

}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100dvw;
    text-align: center;

    /* margin-inline: 5rem; */
    h1 {
        text-transform: uppercase;
        /* doing accents and flavour */
        /* & ::before{
            content: '';
        } */
    }

    p {
        text-transform: uppercase;
        border-block: rgb(43, 43, 43) 1px solid;
    }
}

article {
    border-inline: rgb(43, 43, 43) 1px solid;

    padding: .5rem;
    width: 50px;
    min-width: 300px;
    /* height: 100dvh; */
    flex-grow: 1;

    h2 {
        text-align: center;

        &+p {
            /* background-color: green; */
            text-align: center;
            text-transform: uppercase;
            border-block: rgb(43, 43, 43) 1px solid;
        }
    }
}

/* refletion section */
section {
    border: rgb(43, 43, 43) 1px solid;
    padding: .5rem;

}
.reflection{
/* reflections ook met donkere achtergrond? */
}
.ad{
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    a {
        color: white;
    }
    p{
        font-size: small;
    }
}

.quote {
    text-align: center;
    font-style: italic;

    /* id love for the line not to stretch all te way to the edges */
    border-block: rgb(43, 43, 43) 1px solid;

    padding: .5rem;
}


a{
    color: black;
    text-decoration: none;
    &:hover{
        background-color: yellow;
        color: black;
    }
}

.code {
    background-color: rgb(43, 43, 43);
    color: white;
    padding: .5rem;
    span{
        color: lime;
    }
    span::before{
        content: "<";
        color: grey;
    }
    span::after{
        content: ">";
        color: grey;
    }
}